apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: crework-trello
  labels:
    app: backend
spec:
  type: NodePort
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
    nodePort: 30001
  selector:
    app: backend
