.user-home-page{
    position: relative;
    background-color: #f7f7f7;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.sidebar{
    height: 100vh;
    width: 20vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #dedede;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;

    .profile-section{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .profile{
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                height: 40px;
                width: 40px;
            }
            h2{
                font-size: 20px;
                font-weight: 500;
            }
        }
        .profile-actions{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon-container{
                display: flex;
                align-items: center;
                gap: 20px;

                img{
                    height: 24px;
                    width: 24px;
                }
            }
            .logout-btn{
                height: 40px;
                width: 70px;
                border-radius: 4px;
                outline: none;
                border: none;
                background-color: #f4f4f4;
                color: #797979;
                font-size: 16px;
            }
            .logout-btn:hover{
                background-color: #e9e9e9;
                background-color: red;
                color: white;
                cursor: pointer;
            }
        }
        .nav-container{
            .nav-container-item{
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 5px;
                border-radius: 4px;

                img{
                    height: 24px;
                    width: 24px;
                }
                h2{
                    font-size: 20px;
                    font-weight: 400;
                    color: #797979;
                }
            }
        }
        .create-task-btn{
            button{
                outline: none;
                border: none;
                background: linear-gradient(to bottom, #6051c1, #332789);
                border-radius: 8px;
                padding: 4px;
                width: 100%;
                height: 3rem;
                color: white;
                font-size: 20px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                cursor: pointer;

                img{
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
    .download-workflo-app{
        display: flex;
        align-items: center;
        padding: 8px;
        border-radius: 4px;
        background-color: #f3f3f3;
        img{
            height: 40px;
            width: 40px;
        }
        .download-text{
            h2{
                color: #666;
                font-size: 18px;
                font-weight: 500;
            }
            p{
                color: #666;
                font-size: 12px;
            }
        }
    }
}

.main-content{
    height: 100vh;
    width: calc(100vw - 17vw);
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            font-size: 30px;
            font-weight: 500;
        }
        .help-feedback{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            img{
                height: 24px;
                width: 24px;
            }
        }

    }
    .info-cards{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .info-cards-item{
            height: 8rem;
            width: 24rem;
            display: flex;
            align-items: center;
            gap: 15px;
            border-radius: 8px;
            padding: 16px;
            background-color: #ffffff;

            .info-card-content{
                display: flex;
                flex-direction: column;
                gap: 4px;
                h2{
                    font-size: 16px;
                    font-weight: 600;
                    color: #757575;
                }
                p{
                    font-size: 14px;
                    font-weight: 400;
                    color: #868686;
                }
            }
        }
    }
    .task-controls{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-bar{
            outline: none;
            border: none;
            position: relative;
            height: 2.5rem;
            width: 12rem;
            padding: 8px;
            padding-right: 40px;
            font-size: 16px;
            border-radius: 8px;
            border: 1px solid #e9e9e9;
        }
        .search-bar::placeholder{
            color: #797979;
        }
        img.search-icon{
            position: absolute;
            left: 26.5rem;
            height: 24px;
            width: 24px;
        }
        .task-list-btn
        {
            border: none;
            outline: none;
            border: 2px solid #0056d2;
            background-color: white;
            color: #0056d2;
            cursor: pointer;
            padding: 8px;
            font-size: 16px;
            border-radius: 4px;
            width: 10vw;
            height: 2.5rem;
            text-align: center;
            transition: all 0.2s;
            margin-left: 100px;
        }
        .task-list-btn:hover{
            background-color: #0056d2;
            color: white;
        }
        .controls{
            display: flex;
            gap: 16px;
            button{
                outline: none;
                border: none;
                height: 2.5rem;
                padding: 8px;
                background-color: #f4f4f4;
                font-size: 16px;
                font-weight: 400;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 14px;
                border-radius: 4px;
                color: #797979;
            }
            .create-new-btn{
                border-radius: 8px;
                color: white;
                font-weight: 500;
                background: linear-gradient(to bottom, #6051c1, #352592);
                gap: 10px;
                cursor: pointer;
                img{
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
    .task-columns{
        overflow-y: scroll;
        overflow-x: scroll;
        height: 500px;
        background-color: white;
        padding: 16px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;

        .task-column{
            width: 270px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .task-status{
                display: flex;
                justify-content: space-between;
                h2{
                    font-size: 20px;
                    font-weight: 400;
                    color: #555555;
                }
                img{
                    height: 24px;
                    width: 24px;
                }
            }
            .task-card{
                background-color: #f9f9f9;
                border: 1px solid #dedede;
                border-radius: 8px;
                padding: 16px;
                display: flex;
                flex-direction: column;
                gap: 13px;
                cursor: default;

                .task-card-title{
                    color: #606060;
                    font-size: 16px;
                    font-weight: 500;
                }
                .task-card-description{
                    color: #797979;
                    font-size: 14px;
                    font-weight: 400;
                }
                .task-card-priority{
                    outline: none;
                    border: none;
                    color: white;
                    height: 1.688rem;
                    width: auto;
                    align-self: flex-start;
                    font-size: 12px;
                    font-weight: 500;
                    border-radius: 8px;
                    padding: 6px 8px 6px 8px;
                }
                .urgent{
                    background-color: #FF6B6B;
                }
                .medium{
                    background-color: #FFA235;
                }
                .low{
                    background-color: #0ECC5A;
                }
                .task-card-deadline{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    h3{
                        color: #606060;
                        font-size: 14px;
                        font-weight: 600;
                    }
                    img{
                        height: 20px;
                        width: 20px;
                    }
                }
                .task-card-timestamp{
                    color: #797979;
                    font-size: 14px;
                    font-weight: 500;
                }
                .update-task
                {
                    height: 25px;
                    width: 35px;
                    border: 1px solid #889396;
                    border-radius: 8px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        height: 15px;
                        width: 15px;
                    }
                }
                .delete-task
                {
                    height: 25px;
                    width: 35px;
                    border: 1px solid #889396;
                    border-radius: 8px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        height: 15px;
                        width: 15px;
                    }
                }
            }
            .add-new-task-btn{
                height: 2.5rem;
                outline: none;
                border: none;
                background: linear-gradient(to bottom, #3a3a3a, #212121);
                padding: 8px;
                border-radius: 8px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }   
}